*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos relacionados con estructura_completa_3d en intrucciones
intrucciones/*estructura*3d*
intrucciones/*estructura_completa*


# Archivo de estructura del informe
ESTRUCTURA_INFORME_PRUEBA2.md

